.main{

border:2px solid red;
display:flex;
flex-wrap: wrap;
flex-direction: column-reverse;
/* justify-content: center; */
}
.left{
  flex:1;
  background-color: #4142;

  border:2px solid #000;
  margin: 5px;
  padding:5px;
}
.right{
  flex:3;
  background-color: blue;

  border-color: :2px solid #000;
  margin:5px;
}
@media screen and(max-width:480px){
  main{

  border:2px solid #000;
  display:flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  }
  .left{
    flex:1;
    background-color: violet;

    border:2px solid #000;
    margin: 5px;
    padding:5px;
  }
  .right{
    flex:3;

    border:2px solid #000;
    margin:5px;
  }
}
@media screen only and (min-width:481px) and (max-width:768px){
}
